body
{
	margin:0 !important;
}
ul
{
	list-style:none;
	padding:0 !important;
	margin:0 !important;
}


/* Header style */

header
{
	width:100%;
	position:fixed;
	z-index:5;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.96);
	border-bottom:1px solid #CCCCCC;
}
.header_div
{
	width:80%;
	margin:auto;
	height:60px;
}

.logodiv
{
	height:100%;
	width:200px;
	float:left;
}

.menudiv
{
	margin-top:10px;
	height:100%;
}

.inner_menu_div
{
	
	height:100%;
	float:left;

}

.mainmenu
{
	text-align:right;
	width:600px;
	height:100%;
}


.mainmenu li
{
	display:inline-block;
}




.mainmenu li a
{
	border-radius:10px;
	text-decoration:none;
	display:block;
	color:#000000;
	padding:10px 20px;
	margin-top:10px;
}


.mainmenu li a:hover
{
	color:#FFFFFF;
	background-color:#168EEA;
}

.log_btn_div
{
	float:right;
}

.sec_mainmenu li
{
	display:inline-block;
}


.sec_mainmenu li a
{
	text-decoration:none;
	display:block;
	padding:8px 20px;
	margin-top:8px;
	border-radius:30px;
}


.btn_action_blue
{
	background-color:#168EEA;
	color:#fff;
}

.btn_action
{
	border:1px solid #168EEA;
	color:#60B1F0;
}

.btn_action_blue:hover
{
	color:#FFFFFF;
	background-color:#137AC9;
}

.btn_action a
{
	
	padding:9px 30px;
	margin-left:3px;
}

.btn_action:hover
{
	color:#60B1f0;
	background-color:#EEF5FB;
}

.main_menu_mb
{
	display:none;
}
.menu_icon
{
	display:none;
}

/*Slider style*/

.slider1
{
	margin-top:71px;
	//background-color:rgba(0,0,0,0.1);
	height:500px;
}
.img1
{	
	width:80%;
	height:500px;
	margin:auto;
	padding:10px;
}
.img1 img
{
	width:100%;
	height:100%;
}



/*Social message style*/

.content
{
	width:100%;
	height:260px;
	//margin-top:25px;
}


.social_msg
{
	height:100%;
	width:65%;
	margin:165px auto 0px auto;
	text-align:center;
	font-size:100%;
	vertical-align:baseline;
	display:block;
	border-bottom:2px solid #E2E8ED;
}
.social_msg h1
{
	line-height:1.3em;
	font-weight:400;
}

.social_msg p
{
	clear:#1b1b1b;
	line-height:1.875em;
	font-size:1.125em;
	margin-top:15px;
}


.social_msg a
{
	line-height:48px;
	text-decoration:none;
	background-color:#168EEA;
	color:#fff;
	padding:9px 30px;
	font-size:1em;
	border-radius:100px;
}
.social_msg a:hover
{
	color:#FFFFFF;
	background-color:#137AC9;
	
}



/*Customer Logoes*/

.customer_logo
{
	text-align:center;
	width:70%;
	margin:auto;
}

.customer_logo p
{
	margin-top:30px !important;
	margin-bottom:30px !important;
	font-size:1.125em;
	line-height:1.875em;
	color:#737373;
}

.customer_logo ul li
{
	display:inline-block;
	width:162px;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:20px;
}

.customer_logo ul li img
{
	width:100%;
	height:100%;
}

/*Home Page style*/

.home_page
{
	height:700px;
	width:100%;
	padding-top:60px;
	background-color:#319BED;
	position:relative;
}

.messeging
{
	color:#fff;
	width:100%;
	height:170px;
	text-align:center;
}
.messeging h2
{
	margin:auto auto 15px auto;
	font-weight:400;
	line-height:1.3em;
}

.messeging p
{
	font-size:1em;
	line-height:1.75em;
	margin:10px auto 30px auto;
	color:#fff;
	max-width:600px;
}

.messeging a
{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}

.social_icon
{
	height:35px;
	width:100%;
}

.social_icon ul li
{
	padding-right:20px;
	display:inline-block;
}

.social_icon ul li i
{
	padding:7px;
	text-align:center;
	height:40px;
	width:40px;
	font-size:24px;
	border-radius:50px;
	background-color:#FFFFFF;
	color:#319BED;
}

.video_div
{
	margin-top:40px;
	height:495px
	width:100%;
	position:absolute;
	top:50%;
	left:0;
}

.video_div video
{
	box-shadow:0 10px 16px rgba(0,0,0,0.3);
}


/*home page feature style*/

.homepage_feature
{
	width:85%;
	margin:240px auto 0px auto;
	text-align:center;
}

.homepage_feature h2
{
	font-weight:2em;
	margin-bottom:15px;
}

.homepage_feature p
{
	color:#737373;
	font-size:1em;
	line-height:1.75em;
	margin-top:10px;
	margin-bottom:30px;
}

.homepage_feature p a
{
	margin:10px auto 30px auto;
	color:#168EEA;
	max-width:600px;
	font-weight:400;
	text-decoration:none;
}


.feature_data
{
	margin:40px auto 0px auto;
	text-align:center;
}

.feature1,.feature2,.feature3
{
	width:30%;
}

.feature1 img
{
	height:70%;
	width:80%;
}
.feature2 img
{
	height:70%;
	width:80%;
}
.feature3 img
{
	height:70%;
	width:80%;
}

.feature1 h4
{
	margin-top:10px;
	font-weight:400;
	font-size:1.1em;
	line-height:1.3em;
	margin-bottom:10px;
}
.feature2 h4
{
	margin-top:10px;
	font-weight:400;
	font-size:1.1em;
	line-height:1.3em;
	margin-bottom:10px;
}
.feature3 h4
{
	margin-top:10px;
	font-weight:400;
	font-size:1.1em;
	line-height:1.3em;
	margin-bottom:10px;
}

.feature1 p
{
	font-size:0.875em;
	color:#737373;
	line-height:1.785em;
}
.feature2 p
{
	font-size:0.875em;
	color:#737373;
	line-height:1.785em;
}
.feature3 p
{
	font-size:0.875em;
	color:#737373;
	line-height:1.785em;
}



/*Home Callout style*/

.homepage_callout
{
	margin-top:40px;
	height:562px;
	background-image:url(../image/background1.jpg);
	background-size:cover;
		
}

.home_container
{
	width:80%;
	height:100%;
	margin:20px auto;
}


.homepage_messaging
{
	margin-top:130px;
	float:left;
	max-width:40%;
	
}

.homepage_messaging i
{
	padding:13px 20px;
	border-radius:20px;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
	font-size:35px;
	margin-right:10px;
}
.homepage_messaging h3
{
	font-weight:600;
	color:#ffffff;
}

.homepage_messaging p
{
	font-size:1.1em;
	color:#FFFFFF;
	margin:30px 0px;
	line-height:1.75em;
}

.homepage_messaging p a
{
	color:#FFF;
	max-width:600px;
	font-weight:bold;
	text-decoration:none;
}


.homepage_social
{
	float:right;
	border:0;
	font-size:100%;
	margin:0;
	padding:0;
	height:100%;
}

.homepage_social img
{
	margin:0;
	padding:0;
	float:right;
	width:386px;
	height:546px;
}




/*homepage_mobile style*/

.homepage_mobile
{
	padding:60px 0;
	height:600px;
}

.homepage_container
{
	width:80%;
	margin:auto;
}

.homepage_heading
{
	width:70%;
	margin:auto;
	margin-bottom:60px;
	text-align:center;
}


.homepage_heading h2
{
	margin-bottom:15px;
	font-size:2em;
	font-weight:400;
	line-height:1.3em;
}

.homepage_heading p
{
	font-size:1em;
	line-height:1.75em;
	color:#737373;
}



.home_mobile_img
{
	text-align:right;
	width:50%;
	height:330px;
	float:left;
}

.home_mobile_img img
{
	width:70% !important;
	height:100% !important;
}


.home_mobile_link
{
	width:47%;
	float:right;
	height:330px;
}

.home_mobile_link ul
{
	margin-top:10px !important;
	font-size:1em !important;
	line-height:1.75em;
	color:#737373;
	text-align:left;
}

.home_mobile_link ul li
{
	width:100% !important;
	padding:25px 0;
	display:block;
	border-bottom:1px solid #E2E8ED;
}

.inner_content
{
	width:100%;
	padding:10px;
}
.inner_content i
{
	color:#000000;
	font-size:28px;
	padding:0 15px 0 5px;
}

.inner_content a
{
	text-decoration:none;
	color:#168EEA;
	font-weight:400;
}


/*analytics_container style*/

.container_main_analyze
{
	background-image:url(../image/background-analyze.png);
	background-size: cover;
}

.analyze_container
{
	width:65%;
	margin:auto;
	text-align:center;
	padding:60px 0;
}

.analyze_container h2
{
	max-width:650px;
	margin:auto;
	margin-bottom:15px;
	font-size:2em;
	font-weight:400;
	line-height:1.3em;
	vertical-align:baseline;
}

.analyze_container p
{
	max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
	font-size: 1em;
    line-height: 1.75em;
    color: #737373;
}

.analyze_container p .blue-link
{
	padding:0;
	border:0; 
	font-size: 1em;
    line-height: 1.75em;
    color: #737373;
}

.blue-link a
{
	color:#168EEA;
	text-decoration:none;
}

.analyze_vedio
{
	width: 96%;
    max-width: 880px;
    height: 495px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 10px 16px rgba(0,0,0,0.3);
    margin: 40px auto 100px;
}

.analytics_overview_h2
{
	font-size: 2em;
	font-weight: 400;
    line-height: 1.3em;
	max-width: 500px !important;
    margin: auto;
    margin-bottom: 15px;
}

.analyze_feature
{
	margin-top: 40px;
    overflow: hidden;
}

.feature_div
{
	display:block;
	width: 33%;
    margin: 0 auto 40px auto;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}


.back_img
{
	width:100%;
	height:150px;
	background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 270px 150px;
    margin: 0 auto 20px;
}

.feature_div h4
{
	margin-bottom:10px;
	font-weight:400;
	line-height:1.3em;
	font-size:1.125em;
}

.feature_div p
{
	max-width:95%;
	font-size:.875em;
	line-height: 1.75em;
}


/*key_feature style*/

.key_feature
{
	background: url(../image/background-blue.jpg) no-repeat #168EEA top left;
    background-size: 100% auto !important;
    padding-top: 100px;
    margin-bottom: 10px;
	text-align:center;
}
.key_feature h2
{
	color:#FFFFFF;
	font-size:2em;
	font-weight:400;
	line-height:1.3em;
}
.key_feature p
{
	max-width:500px;
	margin:0 auto 60px;
	color:#fff;
	margin-top:20px;
	font-size:1em;
	line-height:1.75em;
}

.clearfix
{
	width:75%;
	margin:auto;
}
.left_feature
{
	float:left;
	text-align:center;
	width: 30%;
    margin: 0 10% 0;
}
.right_feature
{
	margin:auto;
	float:right;
	text-align:center;
	width: 30%;
    margin: 0 10% 0;
}

.left_sub_feature
{
    background-size: 40px 40px;
	padding-left: 50px;
    padding-top: 12px;
    margin-bottom: 40px;
	background-repeat:no-repeat;
	font-size:100%;
}

.left_sub_feature h4
{
	text-align:left;
	color:#fff;
	font-size:1em;
	margin-bottom:10px;
	font-weight:400;
	line-height:1.3em;
}

.left_sub_feature p
{
	font-size: .875em;
    color: #D3E2ED;
    text-align: left;
	line-height:1.75em;
	max-width:450px;
	margin-bottom:none !important;
}

.right_sub_feature
{
    background-size: 40px 40px;
	padding-left: 50px;
    padding-top: 12px;
    margin-bottom: 40px;
	background-repeat:no-repeat;
	font-size:100%;
}

.right_sub_feature h4
{
	text-align:left;
	color:#fff;
	font-size:1em;
	margin-bottom:10px;
	font-weight:400;
	line-height:1.3em;
}

.right_sub_feature p
{
	font-size: .875em;
    color: #D3E2ED;
    text-align: left;
	line-height:1.75em;
	max-width:450px;
	margin-bottom:none !important;
}

/*customer_support style*/

.customer_support
{
	text-align:center;
}

.customer_support_container
{
	width:70%;
	margin:auto;
}

.customer_support_container h2
{
	font-size:2em;
	font-weight:400;
	line-height:1.3em;
}

.customer_support_container p
{
	max-width: 600px;
    margin: auto;
    margin-top: 20px;
	font-size: 1em;
    line-height: 1.75em;
    color: #737373;
}

.world_map_div
{
	width:100%;
	height:500px;
	margin-top:15px;
}


/*Pricing style*/

.pricing
{
	background-color:#F4F7F9;
	background-image: linear-gradient(#F4F7F9 0, #fff 100%);
	width:100%;
	padding-top:100px;
	text-align:center;
}

.pricing_container
{
	width:63%;
	margin:auto;
	border-radius:5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin: 20px auto;
    padding: 40px 50px 80px 50px;
}

.pricing_heading
{
	text-align:center;
	margin:auto;
	width:70%;
}

.pricing_heading h2
{
	text-align: center;
    margin: auto;
    margin-bottom: 15px;
	font-size:2em;
	font-weight:400;
	line-height:1.3em;
}

.pricing_heading p
{
	font-size: 1em;
    line-height: 1.75em;
    color: #737373;
}

.pricing_details
{
	margin-top: 40px;
	margin:auto;
    overflow: auto;
}

.pricing_div
{
	width: 33.33%;
    margin: 0 auto !important;
    float: left;
    border: 1px solid #E2E8ED;
    background: #FAFBFC;
    text-align: center;
    padding-top: 20px;
}

.pricing_div h4
{
	font-size: 1.125em;
    margin-bottom: 10px;
	font-weight: 400;
    line-height: 1.3em;
}

.pricing_div p
{
	text-align: center;
    margin: auto;
	font-size: 1em;
    line-height: 1.75em;
    color: #737373;
}

.pricing_div h5
{
	background: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 3em;
    font-weight: 600;
    border-top: 1px solid #E2E8ED;
    margin-top: 20px;
}

.pricing_div span
{
	font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    vertical-align: inherit;
}

.text_center
{
	text-align:center;
}

.text_center a
{
	text-decoration:none;
	margin: 40px 0;
	display: inline-block;
    cursor: pointer;
    line-height: 48px;
    background-color: #168EEA;
    padding: 0 40px;
    border-radius: 100px;
    border: none;
    font-size: 1em;
    color: #fff;
    outline: 0 none;
}

.pricing_extra
{
	clear: both;
    margin: 0.5em 0;
    background: #FAFBFC;
    border: 1px solid #E2E8ED;
    border-radius: 4px;
    max-width: 100%;
    text-align: center;
    padding: 15px !important;
    float: left;
    width: 100%;
}

/*footer style*/

.footer
{
    width: 100%;
    padding: 25px;
    margin: 80px 0 0;
    box-sizing: border-box;
}

.footer_container
{
	width:72%;
	margin:auto;
}

.footer_column
{
	width:20%;
	float:left;
	padding:25px;
	text-align:left;
}

.footer_column h5
{
	font-size:0.9em;
	font-weight:bold;margin 0 0 1em;
	
}

.footer_column p
{
	list-style:none;
    margin: 0 0 .75em;
}

.footer_column p a
{
	font-size:0.9em;
	color: #168EEA;
    text-decoration: none;
}

.footer_copyright
{
	margin: 20px 0;
    text-align: center;
    font-size: .75em;
    color: #8b959e;
}
.footer_copyright a
{
	text-decoration:none;
	color:#333333;
}








/*Mobile*/
@media(max-width:767px)
{
	/*Header style*/
	.content
	{
		margin-top:123px !important;
	}
	.menu_icon	
	 {
	 	display:block;
	 	margin:10px 0px 0px 15px;
	 	color:#000000;
	 	font-size:40px !important;
	 }	
	.logodiv
	 {
	 	width:100%;
		margin:auto;
	 	text-align:center;
	 }
	.logodiv img
	 {
	 	width:100%;
		height:100%;
	 }
	.mainmenu
	 {
	 	display:none;
	 }
	.main_menu_mb li
	 {
	 	
	 	display:block;
		background-color:#60B1F0;
		font-size:18px;
		text-align:center;
		width:100% !important;
		padding:5px;
		
	 }
	.main_menu_mb li a
	{
		color:#FFFFFF;
	}
	.main_menu_mb
	 {
	 	padding-top:10px;
	 }
	.main_menu_mb li:hover
	 {
		background-color:#00CCCC;
		color:#FFFFFF; 
	 }
	.main_menu_mb li:hover a
	 {
		color:#fff;
	 }
	.sec_main_menu
	 {
		display:none;
	 }
	.sec_mainmenu li a
	 {
		padding:10px 10px;
	 }
	 
	 /*Social msg style*/
	 .content
	  {
	  	height:auto;
	  }
	 .social_msg
	  {
	 	width:88% !important;
	  }
	  
	 .social_msg h1
	  {
		line-height:1.3em;
		font-weight:400;
		font-size:2em !important;
	  }
	 .social_msg p
	  {
	  	font-weight:350;
	  	font-size:1em;
	  }
	 .social_msg p br
	  {
	  	display:none;
	  }
	 
	 /*Customer-logo style*/
	 
	 .customer_logo ul li
	 {
	 	display:block;
	 	width:100%;
	 }
	 
	/*Home page style*/	 
	 .home_page
	 {
		height:600px;
	 }
	 
	 .video_div
	 {
		margin-top:40px;
		height:495px
		width:100%;
		position:absolute;
		top:70%;
		left:0;
	 }
	 
	 .social_icon ul li i
	 {
		padding:5x;
		height:30px;
		width:30px;
		font-size:16px;
	 }
	 
	 video
	  {
	  	width:90%;
	  }
	.feature2 img
	{
		margin-top: 25px !important;
	}
	.feature3 img
	{
		margin-top: 50px !important;
	}

	
	/*Home Callout style*/

	.homepage_callout
	 {
		margin-top:75px;
	 }

 
	/*Home Callout style*/
	.homepage_messaging
	{
		margin-top:100px;	
		max-width:100% !important;
	}
	.homepage_social
	 {
	 	display:none;
	 }
	.homepage_messaging h3
	 {
	 	
	 	font-size:17px;
	 }
	.homepage_messaging h3 i
	 {
	 	margin:0;
	 	font-size:20px;
	 }
	.homepage_messaging p a
	 {
		color:#FFF;
		font-size:20px;
	 }	
	
	/*homepage_mobile style*/
	 
	 .homepage_heading h2
	  {
	  	font-size:26px;
		font-weight:500;
	  }
	 
	 .home_mobile_img
	  {
	  	text-align:center;
	  	width:100%;
	  }
	 .home_mobile_link
	  {
	  	text-align:left;
		width:100%;
	  }
	 .inner_content
	  {
	  	margin:0;
	  }
	 .inner_content a
	  {
	  	font-size:14px;
	  }
	 .home_mobile_link ul li
	  {
	  	padding: 16px 0;
	  }
	 .home_mobile_link i
	  {
	   	font-size:24px;
	  }
	 
	 /*analytics_container style*/

	.analyze_container
	 {
	 	width:100%;
	 }
	.analyze_vedio
	 {
	 	height:300px;
	 	width:88%;
	 } 
	.feature_div
	 {
	 	width:100%;
		float:none;
	 }
	  
	/*key_feature style*/
	
	.clearfix
	 {
		width:99%;
	 }
	.left_feature
	 {
		float:none;
		width: 90%;
		margin:0 auto;
	 }
	.right_feature
	 {
		float:none;
		width: 90%;
		margin:0 auto;
	 }
	 
	/*customer_support style*/

	.customer_support_container
	 {
		width:90%;
		margin:auto;
	 }

	.world_map_div
	{
		height:250px;
	}
	
	/*Pricing style*/
	
	.pricing_container
	{
		padding:0;
		margin:0;
		width:100%;
	}
	
	.pricing_heading
	{
		width:100% !important;
	}
	
	.pricing_div h4
	{
		font-size: 1.125em;
		margin-bottom: 10px;
		font-weight: 400;
		line-height: 1.3em;
	}
	
	.pricing_div p
	{
		display:none;
	}
	
	.pricing_div span
	{
		display:none;
	}

	.pricing_extra
	{
		text-align:center;
		width:96%;
		margin-top:10px !important;
		margin-bottom:5px !important;
		margin:auto;
		padding: 15px !important;
		float:none;
	}	
	
	/*footer style*/
	
	.footer_container
	 {
		width:100%;
		margin:auto;
	 }
	
	.footer_column
	 {
	 	float:none;
		width:100%;
		text-align:center;
	 }
	
	/*Slider style*/

	.slider1
	{
		margin-top:144px;
		background-color:rgba(0,0,0,0.2);
		height:auto;
	}
	.img1
	{	
		width:100%;
		height:100%;
		padding:0px;
	}
	 
	 
	 
}

/*Tablate*/
@media(min-width:768px) and (max-width:991px)
{
	/*Header style*/
	.content
	 {
		margin-top:131px !important;
	 }
	.logodiv
	 {
	 	width:100%;
		margin:auto;
	 	text-align:center;
	 }
	.logodiv img
	 {
	 	width:60%;
		height:100%;
	 }
	.mainmenu
	 {
		text-align:left;
		width:385px;
		height:100%;
	 }

	.mainmenu li a
	 {
		padding:10px 10px;
	 }
	 
	 /*Social msg style*/
	 .content
	  {
	  	height:270px;
	  }
	 .social_msg
	  {
	 	width:75% !important;
	  }
	  
	 .social_msg h1
	  {
		line-height:1.3em;
		font-weight:400;
		font-size:2em !important;
	  }
	 .social_msg p
	  {
	  	font-weight:350;
	  	font-size:1em;
	  }
	  
	  
	 /*Customer-logo style*/
	 
	.customer_logo ul li img
	 {
		margin-bottom:50px;
	 }	 
	 
	/*Home page style*/	 
	 .home_page
	  {
		height:640px;
	  }
	 
	 .video_div
	  {
		margin-top:40px;
		height:495px
		width:100%;
		position:absolute;
		top:50%;
		left:0;
	  }
	 
	 .social_icon ul li i
	  {
	  	padding:9px;
		height:40px;
		width:40px;
		font-size:20px;
	  }
	 
	 video
	  {
	  	width:90%;
	  }

	/*home page feature style*/

	 .feature1 img
	  {
		height:60%;
		width:70%;
	  }
	 .feature2 img
	  {
		margin-top: 25px !important;
		height:60%;
		width:70%;
	  }
	.feature3 img
	 {
		margin-top: 25px !important;
		height:60%;
		width:70%;
	 }
	
	.feature1 h4
	 {
		font-size:2em;
	 }
	.feature2 h4
	 {
		font-size:2em;
	 }
	.feature3 h4
	 {
		font-size:2em;
	 }
	
	.feature1 p
	 {
		width:auto;
		font-size:1.125em;
	 }
	.feature2 p
	 {
		font-size:1.125em;
	 }
	.feature3 p
	 {
		font-size:1.125em;
	 }
	 
	/*Home Callout style*/
	.homepage_messaging
	{
		margin-top:130px;	
		max-width:100% !important;
	}
	.homepage_social
	 {
	 	display:none;
	 }

	/*homepage_mobile style*/
	
	.home_mobile_img img
	{
		width:100% !important;
		height:100% !important;
	}
	
	/*analytics_container style*/

	.container_main_analyze
	 {
		margin-top:75px;
	 }
	.analyze_container
	 {
	 	width:100%;
	 }
	.analyze_vedio
	 {
	 	width:88%;
	 }
	
	/*key_feature style*/
	.left_feature
	 {
		width: 42%;
		margin: 0 3% 0;
	 }
	.right_feature
	 {
		width: 42%;
		margin: 0 3% 0;
	 }
	 
	/*customer_support style*/
	
	.customer_support_container
	 {
		width:80%;
		margin:auto;
	 }
	.world_map_div
	 {
		height:350px;
	 }
	 
	/*Pricing style*/
	
	.pricing_container
	{
		width:100%;
	}
	
	.pricing_heading
	{
		width:100%;
	}
	
	.pricing_div p
	{
		display:none;
	}
	
	.pricing_div span
	{
		display:none;
	}
	
	/*footer style*/
	
	.footer_container
	{
		width:100%;
	}
	
	.footer_column
	{
		width:33%;
	}
	.tab_view1
	{
		width:50%;
		text-align:right;
	} 
	.tab_view2
	{
		width:50%;
		float:right;
		text-align:left;
	} 
	
	/*Slider style*/

	.slider1
	{
		margin-top:131px;
		background-color:rgba(0,0,0,0.2);
		height:auto;
	}
	.img1
	{	
		width:100%;
		height:100%;
		padding:0px;
	}
	 
	
}

/*Laptop Small*/
@media(min-width:992px) and (max-width:1220px)
{
	/*Header style*/
	.logodiv
	 {
	 	width:18%;
		margin:auto;
	 	text-align:left;
	 }
	.logodiv img
	 {
	 	width:90%;
		height:100%;
	 }
	.mainmenu
	 {
	 	width:100%;
	    text-align:left;
	 }
	.inner_menu_div
	 {
	 	width:53%;
	 } 
	.mainmenu li a
	 {
		padding:5px 13px;
	 }
	 
	/*Home page style*/	 

	 
	 .video_div
	  {
		margin-top:40px;
		height:495px
		width:100%;
		position:absolute;
		top:49%;
		left:0;
	  }
	 
	 video
	  {
	  	width:90%;
	  }
	
	/*key_feature style*/
	.left_feature
	 {
		width: 40%;
		margin: 0 5% 0;
	 }
	.right_feature
	 {
		width: 40%;
		margin: 0 5% 0;
	 }
	 
	/*Pricing style*/
	
	.pricing_container
	{
		width:75%;
	}
	
	.pricing_heading
	{
		width:82%;
	}
	
	.pricing_div p
	{
		font-size: 0.900em;
	}

	/*footer style*/

	.footer_container
	 {
		width:100%;
	 }
	
	.footer_column p a
	 {
		font-size:.980em;
	 }
	
	
}

/*Laptop large*/
@media(min-width:1221px)
{
	/*Header style*/
	.logodiv
	 {
	 	width:18%;
		margin:auto;
	 	text-align:left;
	 }
	.logodiv img
	 {
	 	width:100%;
		height:100%;
	 }
	.mainmenu
	 {
	 	width:100%;
	    text-align:center;
	 }
	.inner_menu_div
	 {
	 	width:58%;
	 } 
	.mainmenu li a
	 {
		padding:5px 29px;
	 }
	

}









